header {
    zoom: 1.2;
}

header h1 {
    margin-bottom: 5px;
}

header h1 a {
    color: #494949;
    font-weight: bold;
}

header h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

header p.view {
    margin-bottom: 5px;
}

header p.view small {
    padding-top: 2px;
}

header ul {
    zoom: 0.7;
    margin-top: 25px;
}

section p {
    margin-top: 10px;
}

section h1 {
    margin-bottom: 15px;
}

section h2 {
    margin-bottom: 10px;
}

section h2 {
    margin-bottom: 10px;
}

footer {
    bottom: 20px;
}

footer p {
    margin-bottom: 5px;
}

.half-width {
    float: left;
    width: 200px;
    list-style: none;
    padding: 5px;
    margin: 7px;
    margin-bottom: 10px;
}

.half-width h4 {
    margin-bottom: 5px;
}

.half-width ul {
    padding-left: 0;
}

.half-width ul li {
    list-style: inside;
    font-size: 15px;
}

.clear-fix {
    clear: both;
}

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig li h3 {
    margin: 0 0 5px;
    text-align: center;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }
}